#clock{
	width:416px;
	font-size:80px;
	font-weight:bold;
	color:green;
	text-align:center;
	margin:20px;
}
.box1{
	margin-right:10px;
	width:100px;                                                                                                                    
	height:100px;
	line-height:100px;
	float:left;
	border:gray 1px solid;
}
.box2{
	width:30px;
	float:left;
	margin-right:10px;
}
