div{
background-color: lightgrey;
    width: 450px;
	height:50px;
    border: 50px solid red;
    padding: 10px;
    margin: 25px;
}
1033180402
bj123456000

1033180402
073941

1033180402
123456
